    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        font-family: sans-serif;
        text-decoration: none;
    }

    body {
        background-color: black;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 20px;
        z-index: 1000;
        backdrop-filter: blur(12px);
        /* efecto tipo vidrio */
    }


    .logo {
        font-size: 24px;
        font-weight: bold;
    }

    .nav-menu {
        display: flex;
        gap: 20px;
    }

    /* Botón hamburguesa */
    .menu-toggle {
        display: none;
        background: none;
        font-size: 28px;
        border: none;
        color: white;
        cursor: pointer;
    }

    .nav-menu li a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    .nav-menu li .dropdown {
        display: none;
        position: absolute;
        background-color: #444;
        padding: 10px;
        list-style: none;
        border-radius: 5px;
    }

    .nav-menu li:hover .dropdown {
        display: block;
    }

    .nav-menu li .dropdown li a {
        display: block;
        color: white;
        padding: 5px 10px;
        text-decoration: none;
        font-size: 16px;
    }

    .nav-menu li .dropdown li a:hover {
        background-color: #666;
    }


    /*Carusel*/


    .carousel-container {
        position: relative;
        width: 100%;
        max-height: 1000px;
        overflow: hidden;
    }

    .carousel-track {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .carousel-item {
        min-width: 100%;
        flex-shrink: 0;
    }

    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .carousel-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.4);
        color: white;
        border: none;
        font-size: 30px;
        padding: 10px 15px;
        cursor: pointer;
        z-index: 10;
        transition: background 0.3s ease;
        border-radius: 50%;
    }

    .carousel-btn:hover {
        background: rgba(0, 0, 0, 0.8);
    }

    .carousel-btn.left {
        left: 15px;
    }

    .carousel-btn.right {
        right: 15px;
    }



    /*Cards rutinas*/
    .rutinas-banner {
        text-align: center;
        padding: 60px 20px;
        color: white;
        margin-top: 100px;
    }

    .rutinas-banner h2 {
        font-size: 32px;
        margin-bottom: 40px;
    }

    .rutinas-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        padding-top: 50px;
        max-width: 1300px;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .rutina-card {
        background: #1e1e1e;
        border-radius: 12px;
        overflow: hidden;
        transition: transform 0.3s ease;
        position: relative;
        z-index: 1;
        padding-bottom: 20px;
        min-height: 650px;
    }

    .borde {
        position: relative;
        border-radius: 22px;
        padding: 5px;
        background: linear-gradient(270deg, #ff1e1e, #111111, #ff1e1e);
        background-size: 300% 300%;
        animation: gradienteAnim 9s ease-in-out infinite;
        margin-bottom: 30px;
    }


    /* Fondo interior para que no se vea el gradiente dentro */
    .borde>.rutina-card {
        background: #1e1e1e;
        border-radius: 12px;
        overflow: hidden;
    }

    /* Para que el padding sea el "grosor" del borde */
    .borde>.rutina-card {
        position: relative;
        z-index: 1;
    }

    /* Animación para que el gradiente se mueva de izquierda a derecha */
    @keyframes gradienteAnim {
        0% {
            background-position: 0% 50%;
        }

        25% {
            background-position: 50% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        75% {
            background-position: 50% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }


    .rutina-card img {
        width: 100%;
        height: 600px;
    }

    .rutina-card h3 {
        margin: 15px 0 5px;
        font-size: 22px;
    }

    .rutina-card p {
        margin-bottom: 15px;
        color: #fff;
    }

    .rutina-card a {
        display: inline-block;
        background: #ff3c3c;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        transition: background 0.5s ease;
    }

    .rutina-card a:hover {
        background: #ff0000;
    }

    .rutina-card:hover {
        transform: scale(1.03);
    }



    /* tips css */

    .seccion-tips {
        background: #111;
        padding: 80px 20px;
        text-align: center;
        color: #fff;
    }

    .seccion-tips h2 {
        font-size: 36px;
        color: blue;
        margin-bottom: 50px;
    }

    .acordeon {
        max-width: 800px;
        margin: 0 auto;
        text-align: left;
    }

    .acordeon-item {
        border-bottom: 1px solid #444;
        margin-bottom: 15px;
    }

    .acordeon-titulo {
        width: 100%;
        padding: 18px 20px;
        background: #1e1e1e;
        color: #fff;
        text-align: left;
        font-size: 20px;
        border: none;
        cursor: pointer;
        outline: none;
        transition: background 0.3s ease;
    }

    .acordeon-titulo:hover {
        background: #2b2b2b;
    }

    .acordeon-contenido {
        max-height: 0;
        overflow: hidden;
        background: #222;
        transition: max-height 0.4s ease;
        padding: 0 20px;
    }

    .acordeon-contenido ul {
        padding: 15px 0;
        margin: 0;
        list-style: disc;
        color: #ddd;
    }

    .acordeon-contenido li {
        padding: 6px 0;
    }





    /*Carusel marcas*/

    .carrusel-marcas {
        width: 100%;
        overflow: hidden;
        padding: 30px 0;
    }

    .carrusel-marcas h2 {
        text-align: center;
        margin-bottom: 20px;
        color: white;
    }

    .carrusel-pista {
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .productos {
        display: flex;
        gap: 20px;
        width: max-content;
        animation: deslizar 30s linear infinite;
        min-width: 200%;
        overflow: hidden;
    }

    /* Estructura CARD personalizada 
.card {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
}

.card img {
    width: 90%;
    height: auto;
    z-index: 3;
    position: relative;
    border-radius: 10px;
    margin-bottom: 10px;
}


.bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 190px;
    height: 240px;
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
}

.blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ff0000;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
}*/

    /* Animación carrusel */
    @keyframes deslizar {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }


    /* Animación de blob */
    /*@keyframes blob-bounce {
    0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }

    25% {
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }

    50% {
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }

    75% {
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }

    100% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
}*/





    @media (max-width: 768px) {

        /* HEADER */
        header {
            flex-direction: column;
            align-items: flex-start;
            padding: 15px 10px;
        }

        .logo {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .menu-toggle {
            align-self: flex-end;
        }

        .nav-menu li a {
            font-size: 16px;
        }

        /* CAROUSEL */
        .carousel-item img {
            height: 900px;
            margin: 0 auto;
            width: 800px;
            margin-top: 70px;
            object-fit: fill;
        }

        /* RUTINAS */
        .rutinas-banner h2 {
            font-size: 24px;
            margin-bottom: 30px;
        }

        .rutinas-grid {
            grid-template-columns: 1fr;
            gap: 30px;
            padding: 0 10px;
        }

        .rutina-card img {
            height: 600px;
        }

        .rutina-card {
            min-height: auto;
            width: 500px;
            margin: 0 auto;
        }

        .borde{
            width: 510px;
            margin: 0 auto;
        }

        .rutina-card h3 {
            font-size: 18px;
        }

        .rutina-card a {
            padding: 8px 16px;
            font-size: 14px;
        }

        /* TIPS */
        .seccion-tips h2 {
            font-size: 24px;
        }

        .acordeon-titulo {
            font-size: 18px;
            padding: 14px 16px;
        }

        .acordeon-contenido ul {
            padding: 10px 0;
        }

        /* CARRUSEL MARCAS */
        .productos {
            gap: 10px;
        }

        .producto {
            min-width: 120px;
        }

        .producto img {
            height: 100px;
        }
    }

@media (max-width: 500px) {

    /* HEADER */
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 10px;
    }

    .logo {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .menu-toggle {
        align-self: flex-end;
    }

    .nav-menu li a {
        font-size: 16px;
    }

    /* CAROUSEL */
    .carrusel-container {
    max-width: 900px;  /* o el ancho que quieras para el carrusel */
    margin: 0 auto;    /* centra el contenedor horizontalmente */
    overflow: hidden;  /* para que no se vea scroll horizontal no deseado */
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    justify-content: center; /* centra los items si hay espacio */
}

.carousel-item {
    min-width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    width: 50%;
    max-width: 100%;
    height: 800px;
    object-fit: contain;
}

    /* RUTINAS */
    .rutinas-banner h2 {
        font-size: 24px;
        margin-bottom: 30px;
        padding: 0 10px;
    }

    .rutinas-grid {
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 0 10px;
        max-width: 100%; 
    }

    .rutina-card {
        min-height: auto;
        width: 100%;
        height: 800px; 
        max-width: 400px; 
        margin: 0 auto;
        box-sizing: border-box;
        padding-bottom: 20px;
    }

    .borde {
        width: 100%;
        max-width: 500px; /* un poco más que la card */
        margin: 0 auto;
        box-sizing: border-box;
    }

    .rutina-card img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        border-radius: 12px;
    }

    .rutina-card h3 {
        font-size: 18px;
        padding: 0 10px;
    }

    .rutina-card p {
        padding: 0 10px;
    }

    .rutina-card a {
        padding: 8px 16px;
        font-size: 14px;
        margin: 0 10px 20px 10px;
    }

    /* TIPS */
    .seccion-tips h2 {
        font-size: 24px;
        padding: 0 10px;
    }

    .acordeon-titulo {
        font-size: 18px;
        padding: 14px 16px;
    }

    .acordeon-contenido ul {
        padding: 10px 0;
        margin: 0 10px;
    }

    /* CARRUSEL MARCAS */
    .productos {
        gap: 10px;
        padding-left: 10px;
    }

    .producto {
        min-width: 100px;
    }

    .producto img {
        height: 80px;
    }
}
